<nav class='navbar sticky-top navbar-expand-lg navbar-dark bg-dark'>
  <div
    class='container-fluid'
    style='display:flex; justify-content:space-around'
  >
    <div style='margin:0 30px'>
      <a class='navbar-brand' href='/'>Bar Hopping</a>
    </div>

    <div style='margin:0 30px'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        {{#if isAdmin}}
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='/admin'>
              Админ панель
            </a>
          </li>
        {{/if}}
        {{#if isUser}}
          <li class='nav-item'>
            <a
              class='nav-link active'
              aria-current='page'
              href='/profile/page/{{user_name}}'
            >
              {{user_name}}
            </a>
          </li>
        {{/if}}
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdown'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Куда пойти?
          </a>
          <ul
            id='dropMenu'
            class='dropdown-menu'
            aria-labelledby='navbarDropdown'
          >
            <li><a class='dropdown-item' href='#'>Кофейни</a></li>
            <li><a class='dropdown-item' href='#'>Рестораны</a></li>
            <li><a class='dropdown-item' href='#'>Бары</a></li>
          </ul>
        </li>
        <a class='nav-link active' aria-current='page' href='/map'>
          Карта
        </a>
      </ul>
    </div>

    <div style='margin:0 30px'>
      {{#if isUser}}
        <a
          style='color:gray; text-decoration: none; margin:0 10px'
          href='/form/logout'
        >Выйти</a>
      {{else}}
        <a
          style='color:gray; text-decoration: none; margin:0 10px'
          href='/form/login'
        >Вход</a>
        <a
          style='color:gray; text-decoration: none; margin:0 10px'
          href='/form/reg'
        >Регистрация</a>
      {{/if}}

    </div>
  </div>
</nav>
