.hm-gradient {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

#headerFooter{
  background: #fafafa00;
  color: rgb(255, 255, 255) ;
}

#center-header{
  justify-content: center;
}

#right-header{
  justify-content: right;
}

#iconProf{
  font-size: 50px;
}

.navbar{
  font-size: 25px;
}

.logo{
 align-items: center;
}

.navbar .dropdown-menu a:hover {
  color: #616161 ;
}
.darken-grey-text {
  color: #2e2e2e;
}
