.gameWrapper{
 height: 100vh;
  display: flex;
  flex-direction: row;
align-items: center;
justify-content: center;
}

.regGame{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url('https://img.wallpapersafari.com/desktop/800/450/24/36/5Hr1Rz.jpg') ;
  width: 45%;
  height: 45%;
  background-color:black ;
  border-radius: 14px;
  border: medium solid rgb(158, 158, 154);
}

.roomsList{
  list-style: none;
}

.roomsLi{
  margin-top: 10px;
}