.accordion {
  min-width: 600px;
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #2e2e2e;

}

.accordion-title:hover {
  background-color: #616161;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #616161;
}

.headers-text {
  text-shadow: 1px 5px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 40px;
  }

  .accordion {
    width: 100px;
  }
}
