<br />

<div style='display:flex; justify-content:center'>
  <form
    id='addForm'
    action='/profile/add'
    method='post'
    enctype='multipart/form-data'
    style='width:60vh; margin:0px ;padding:0px; box-shadow: 2px 2px 50px 11px rgba(164, 226, 135, 0.571); position:fixed; z-index: 100; border-radius:10px'
  >
    <div class='alert alert-success' role='alert' style="margin:0;">
      {{bar.bar_type}}
      <b>{{bar.bar_title}}</b>
      добавлен в избранное!
    </div>
  </form>
</div>
