<br />

<div style='display:flex; justify-content:center'>
  <form
    id='addForm'
    action='/profile/add'
    method='post'
    enctype='multipart/form-data'
    style='width:60vh; margin:0px ;padding:0px; box-shadow: 2px 2px 50px 11px rgba(228, 142, 127, 0.536); position:fixed; z-index: 100; border-radius:10px'
  >
    <div class='alert alert-danger' role='alert' style='margin:0'>
      Чтобы добавить в избранное - <b>авторизуйтесь!</b>
    </div>
  </form>
</div>
