<script defer src='/js/form/reg.js'></script>

<br />

<div style='display:flex; justify-content:center'>
  <form id='regForm' method='post' action='/form/reg' style='width:50vh'>
    <div class='mb-3'>
      <input
        type='text'
        class='form-control'
        id='exampleInputEmail1'
        aria-describedby='emailHelp'
        name='user_name'
        placeholder='Имя'
        autocomplete='off'
        required
      />
    </div>
    <div class='mb-3'>
      <input
        type='text'
        class='form-control'
        id='exampleInputEmail1'
        aria-describedby='emailHelp'
        name='user_email'
        placeholder='Почта'
        autocomplete='off'
        required
      />
    </div>
    <div class='mb-3'>
      <input
        type='password'
        class='form-control'
        id='exampleInputEmail1'
        aria-describedby='emailHelp'
        name='user_password'
        placeholder='Пароль'
        autocomplete='off'
        required
      />
    </div>
    <div class='form-check form-switch'>
      <input
        class='form-check-input'
        type='checkbox'
        role='switch'
        id='flexSwitchCheckDefault'
      />
      <label class='form-check-label' for='flexSwitchCheckDefault'>Зарегистрироваться как Админ</label>
    </div>
    <br>
    <div class='mb-3'>
      <input
        type='text'
        class='form-control'
        id='secretRadio'
        aria-describedby='emailHelp'
        name='user_secret_word'
        placeholder='Секретное слово'
        autocomplete='off'
      />
    </div>
    <div style='display:flex; justify-content:center'>
      <button
        type='submit'
        class='btn btn-outline-dark'
      >Зарегистрироваться</button>
    </div>
  </form>
</div>

<div id='regError'>

</div>
