.rulesWrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(146, 146, 146);
  background-image: url('https://werenotsorry.files.wordpress.com/2014/10/godfather-2.jpg');
  width: 100vw;
  height: 100vh;
}

.rulesBlocksWrap{
  display: flex;
  justify-content: center
}

.rolesAccordion{
  padding-top: 30px;
  padding-left: 80px;
}

.zagolowki{
  color: rgb(163, 54, 54);
}

.rulesListWrap{
  display: flex;
  flex-direction: column;
  width: 50%;
}