.rulesWrap{
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(146, 146, 146);
  background: url('https://werenotsorry.files.wordpress.com/2014/10/godfather-2.jpg');
  width: 100vw;
  /* height: 100vh; */
  background-size: cover;
}

.rulesBlocksWrap{
  display: flex;
  justify-content: center
}

.rolesAccordion{
  font-size: 18px;
  padding-top: 30px;
  padding-left: 80px;
}

.zagolowki{
  color: rgb(163, 54, 54);
}

.rulesListWrap{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text{
  font-size: 18px;
}